.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.wrapper>button {
    padding: 10px 20px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: none;
    }
}