.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
}

.logo img {
    width: 30px;
}

.buttonBar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buttonBar>button {
    background-color: transparent;
    border: none;
}

.buttonBar>button:last-child {
    font-size: 24px;
    font-weight: bold;
}

.buttonBar img {
    width: 30px;
}